main{
    display: flex;
    justify-content: space-evenly;
}

section{
    width: 30%;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    margin-top: 10px;
    margin-bottom: 10px;
}

form div{
    display: flex;
    justify-content: space-between;
}

form div input{
    width: 20%;
}